*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background:linear-gradient(rgb(239, 35, 246),rgb(208, 218, 214));
    height: 100vh;
    font-size: 0.9rem;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

 .box{
    background: rgb(219, 47, 85);
    color: cornsilk;
    width: 25rem;
    height: 20rem;
    border-radius: 0.5rem;
    padding: 1.3rem 1.2rem;
    box-shadow: 4px 2px 19px cadetblue;
}

.profile-img{
    width: 35%;
    border-radius: 50%;
    border: 4px solid rgba(51, 212, 233, 0.801);
    object-fit: cover;
}
h3{
    padding: 1.2rem 0;
}

.box-img{
    padding: 1.2rem 0;
}

.box-img img{
    width: 10%;
    background: rgba(255, 0, 0, 0.473);
    border-radius: 50%;
/* padding-right: 1rem; */
} 